<!-- UND-Gatter (AND) nach DIN 40900 – Symbol "&" -->
<div
  class="gate"
  [class.toolbar-mode]="toolbarMode"
  [class.signal-high]="signalOutput === true"
  [class.signal-low]="signalOutput === false"
  [style.height.px]="toolbarMode ? 44 : gateHeight"
>
  <!-- Eingangs-Drähte (links, Anzahl abhängig von inputCount) -->
  <div class="pins-in">
    @for (w of wireArray; track w) {
      <div class="wire"></div>
    }
  </div>

  <!-- Gatter-Körper: Rechteck mit "&" -->
  <div class="gate-scm-history-item:%5Cworkspaces%5CProjektInformatikLK?%7B%22repositoryId%22%3A%22scm0%22%2C%22historyItemId%22%3A%223ad8944b5eaa80e7e2607c10d80514a464cf354d%22%2C%22historyItemParentId%22%3A%22ae76632815e3d9c79cd971bb30f24eef26eddcc0%22%2C%22historyItemDisplayId%22%3A%223ad8944%22%7DFbody">
    <span class="symbol">&amp;</span>
  </div>

  <!-- Ausgangs-Draht (rechts, 1 Stück) -->
  <div class="pins-out">
    <div class="wire"></div>
  </div>
</div>
